# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data (DO NOT COMMIT DATASETS) (idk)
# data/

# Model outputs
outputs/
*.pth

# Logs (optional)
*.log